In [0]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/titanic/gender_submission.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/train.csv

In [0]:
import pandas as pd # to read i/o
import numpy as np

In [0]:
#data
gender_submission = pd.read_csv("/kaggle/input/titanic/gender_submission.csv")
test = pd.read_csv("/kaggle/input/titanic/test.csv")
train = pd.read_csv("/kaggle/input/titanic/train.csv")

In [0]:
train.head()
test.head()
gender_submission.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [0]:
print(train.head(0).T)

Empty DataFrame
Columns: []
Index: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]

In [0]:
from sklearn.model_selection import train_test_split #to axis my data

train.drop(['PassengerId','Ticket','Sex','SibSp','Fare','Embarked', 'Cabin','Name'],axis=1,inplace=True)# am not need it 
labels= train['Survived'].values # Ylable
train.drop(['Survived'],axis=1,inplace=True) #drop it from data train
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 3 columns):
Pclass    891 non-null int64
Age       714 non-null float64
Parch     891 non-null int64
dtypes: float64(1), int64(2)
memory usage: 21.0 KB

In [0]:

train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 3 columns):
Pclass    891 non-null int64
Age       714 non-null float64
Parch     891 non-null int64
dtypes: float64(1), int64(2)
memory usage: 21.0 KB

In [0]:
test.drop(['PassengerId','Ticket','Sex','SibSp','Fare','Embarked', 'Cabin','Name'],axis=1,inplace=True)# am not need it

In [0]:
train['Age'].fillna(train['Age'].median(),inplace=True)# fill non value by median
test['Age'].fillna(train['Age'].median(),inplace=True)# fill non value by median

In [0]:
train.info() #to make sure that data completed
test.info() #to make sure that data completed

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 3 columns):
Pclass    891 non-null int64
Age       891 non-null float64
Parch     891 non-null int64
dtypes: float64(1), int64(2)
memory usage: 21.0 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 3 columns):
Pclass    418 non-null int64
Age       418 non-null float64
Parch     418 non-null int64
dtypes: float64(1), int64(2)
memory usage: 9.9 KB

In [0]:
labels_Test = gender_submission['Survived'].values

In [0]:
from sklearn.tree import DecisionTreeClassifier # to classify the data
from sklearn.metrics import accuracy_score
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf.fit(train,labels)
pred =clf.predict(test)

print (accuracy_score(pred,labels_Test ))

0.5909090909090909

In [0]:
from sklearn.naive_bayes import GaussianNB
clf = clf = GaussianNB()
clf.fit(train,labels)
pred =clf.predict(test)
print (accuracy_score(pred, labels_Test))

0.6244019138755981

In [0]:
from sklearn.svm import SVC
clf = SVC(gamma='auto')
clf.fit(train,labels)
pred =clf.predict(test)
print (accuracy_score(pred, labels_Test))

0.6076555023923444

In [0]:
gender_submission['Survived']=pred

NameError: name 'sample_submission' is not defined

In [0]:
gender_submission.to_csv("submission.csv", index=False)